<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head> 
        <title>SELECTORES</title>
    </h:head> 
    <h:body style="background: #ccffff">
        <b:form>
            <p:panelGrid columnClasses="2">
                 <h1>SELECTORES NORMALES</h1>
                <p:panel style="background: #99ffff">                
                    <b:selectOneMenu label="Seleccionar Restaurante" value="#{restau.id_helper_comedor}">
                        <f:selectItems var="ver" value="#{restau.comedores_control.findRestaurantesEntities()}" itemLabel="#{ver.nombre}" itemValue="#{ver.idRestaurante}" />
                    </b:selectOneMenu>               
                </p:panel>
                <p:panel>
                    <b:selectOneMenu label="Seleccionar Sucursal del Restaurante Elegido" value="#{restau.id_helper_pivote}">
                        <f:selectItems var="ver" value="#{restau.salas_control.findSucursalesEntities()}" itemLabel="#{ver.detalles}" itemValue="#{ver.sucursal}" />
                    </b:selectOneMenu>
                </p:panel>
            </p:panelGrid>
            <!-- Vienen los Selectores con AJAX -->
            <p:panelGrid columnClasses="2">
                <h1>SELECTORES CON AJAX</h1>
                <p:panel style="background: #99ffff">                
                    <b:selectOneMenu label="Seleccionar Restaurante" value="#{restau.names}">
                        <f:selectItems var="ver" value="#{restau.comedores_control.findRestaurantesEntities()}" itemLabel="#{ver.nombre}" itemValue="#{ver.nombre}" />
                        <f:ajax event="change" listener="#{restau.selctores_x_restaurantes()}" render="sucursales" execute="@this" />
                        <!-- listener buscará el evento programado en el Bean y lo traerá a accionar, pintar o renderizar en el 
                             el componente que tenga el id que se colocó en el atributo render. 
                        -->
                    </b:selectOneMenu>             
                    <b:label value="hola we" id="restaurantes" />
                </p:panel>
                <p:panel>
                    <b:selectOneMenu id="sucursales" label="Seleccionar Sucursal del Restaurante Elegido" value="#{restau.id_helper_comedor}">
                        <f:selectItems var="ver" value="#{restau.listarestaurantes()}" itemLabel="#{ver.detalles}" itemValue="#{ver.idSucursal}" />
                    </b:selectOneMenu>
                </p:panel>
            </p:panelGrid>
        </b:form>
    </h:body>
</html>

